/* 
    General Styles
*/
.countFavorites {
  background-color: cornsilk;
  font-weight: bold;
  padding-left: 5px;
  padding-right: 5px;
}

.listForm {
  list-style:none;
  width: 180px;
  border-bottom: 1px solid red;
  padding-top: 5px;
}

.positionIcons {
  float: right;
}